body {
  padding-top: 70px;
}

@temp-font-size: 120px;

.temp {
  font-size: @temp-font-size;

  .icon {
    margin-right: 30px;
  }
}

.smallinfo {
  font-size: @temp-font-size * 0.4;
  span {
    margin-right: 30px;
  }
}

.city {
  font-size: 0.5 * @temp-font-size;
  text-align: center;
}

.quote {
  padding-top: 30px;
  font-size: 100px;
}
